@import "tailwindcss";

.activatedLink {
  color: salmon;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px salmon;

  .logo-img {
    width: 200px;
    height: 75px;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    margin-block: 0;
    padding-inline-start: 0;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;

    a {
      text-decoration: none;
    }
  }
}

.res-container,
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 0.25rem;
  height: 100%;
  overflow: auto;
}

.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;

  .filter-btn,
  .search-btn {
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    .search-input {
      min-width: 250px;
      outline: none;
      border: 1px solid gray;
      border-radius: 4px;
      padding: 4px;
      font-size: 1rem;
    }
  }
}

.shimmer-card {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  box-shadow: 0px 1px 4px 1px salmon;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% {
    box-shadow: 2px 2px 4px 2px salmon;
  }
  100% {
    box-shadow: 2px 2px 8px 4px salmon;
  }
}
