body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  gap: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px salmon;

  .logo-img {
    width: 200px;
    height: 75px;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    margin-block: 0;
    padding-inline-start: 0;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .search-input {
    flex: 1;
    min-width: 250px;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.5rem;
  }
}

.res-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0.25rem;
  display: flex;
  height: 100%;
  overflow: auto;
}

.res-card {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 0.5rem;
  font-size: 1.25rem;
  box-shadow: 0px 1px 4px 1px salmon;

  img {
    height: 250px;
  }
}
